<div class="container" data-turbolinks="false"><!-- ←ターボリンクを無効にしている -->

  <div class="row">
  <%= render "layouts/main_button" %>
  </div>

  <div class="row">
    <div class="col-xs-offset-1 col-xs-4">
      <div class="information">
        <p class="hello-user">こんにちは、<%= current_user.name %>さん！<br>
                              今日の肌の調子はいかがですか？
        </p>
        <div class="information-contents">
          <p>登録情報</p>
          <p>年齢：<%= current_user.age %>歳</p>
          <p>肌質：<%= current_user.skin_type %></p>
        </div>
        <div>
          <%= link_to "登録情報変更", edit_user_user_path(current_user), class: "btn btn-success" %>
        </div>
      </div>
    </div>
    <div class="col-xs-7">
        <canvas id="circleChart" ></canvas>
      </div>
    </div>
  </div>

    <div class="row">
      <div class="chart" style="width: 70%; height: 50%;">
        <canvas id="myChart"></canvas>
      </div>
    </div>

    <div class="row">
      <div class="chart" style="width: 70%; height: 50%;">
        <canvas id="barChart"></canvas>
      </div>
    </div>
  </div>

<script>


//ドーナツグラフ/////////////////////////////////////////////////////////////////////////////////
var ctx = document.getElementById('circleChart').getContext('2d');
ctx.canvas.height = 120; //高さ調整
var data = {
  labels: ['とても良い', '良い', '普通', '少し悪い', '悪い'],
  datasets: [{
    backgroundColor: ["#1DA7BE", "#38C5D1", "#DBDBDB", "#FF9FAD", "#FF7B8F"],
    data: [
        <%= @excellent_condition_count %>,
        <%= @good_condition_count %>,
        <%= @average_condition_count %>,
        <%= @poor_condition_count %>,
        <%= @bad_condition_count %>
    ]
  }],
    // These labels appear in the legend and in the tooltips when hovering different arcs
};

var myPieChart = new Chart(ctx, {
  type: 'doughnut',
  data: data,
  options: {
    legend: {
      display: true,
      position: 'right',
      labels: {
        padding: 30,
      }
    },
    title: {
      display: true,
      text: `<%= params[:month].to_i %>月の肌の調子`,
      position: 'top'
    }
  }
});


//折れ線グラフ/////////////////////////////////////////////////////////////////////////////////

var ctx1 = document.getElementById('myChart').getContext('2d');
ctx1.canvas.height = 80; //高さ調整
var data = <%= @condition_list.to_json.html_safe %>
console.log(data)
var chart = new Chart(ctx1, {
// The type of chart we want to create
  type: 'line',

// The data for our dataset
  data: {
    datasets: [{
      label: `<%= params[:month].to_i %>月の肌の調子`,
      backgroundColor: 'rgb(56, 197, 209)',
      borderColor: 'rgb(56, 197, 209)',
      fill: false,
      data: data
    }]
  },

    // Configuration options go here
  options: {

    scales: {
      xAxes: [{
        type: 'time',
        time: {
            unit: 'day'
        }

      }],
      yAxes: [{
        type: 'category',
        labels: [4,3,2,1,0],
         ticks: {
          callback: function(value, index, values) {
            var jaLabels = {0: "悪い  ", 1:"少し悪い  ", 2:"普通  ", 3:"良い  ", 4:"とても良い  "}
            return jaLabels[value];
          }
        },
        scaleLabel: {
          display: true,
        }
      }]
    }

  }
});

// //横棒グラフ/////////////////////////////////////////////////////////////////////////////////

<% if @todays_items_list.present? %>
  var ctx2 = document.getElementById('barChart').getContext('2d');
  ctx2.canvas.height = 100; //高さ調整
  var data = <%= @todays_items_list.to_json.html_safe %>
  console.log(data)
  var scatterChart = new Chart(ctx2, {
    type: 'line',
    data: {
      datasets: [{
        label: 'Scatter Dataset',
        backgroundColor: "#FF9FAD",
        borderColor: "#FF9FAD",
        fill: false,
        borderWidth : 15,
        pointRadius : 0,
        data: data
      }]
    },
    options: {
      legend : {
        display : false
      },
      scales: {
        xAxes: [{
          type: 'time',
          time: {
            unit: 'day'
          },
          position: 'bottom',
          ticks : {
            beginAtzero :true,
            stepSize : 1
          }
        }],
        yAxes : [{
          scaleLabel : {
            display : false
          },
          ticks : {
            beginAtZero :true,
            // min : 2,
            callback: function(value, index, values) {
              var jaLabels = <%= @my_item_lists_label.html_safe %>
              // .html_safeは、&gt;&quot;などに変換せずhtmlの形式のまま返してほしい時に使う
              return jaLabels[value];
            }
          }
        }]
      }
    }
  });
<% end %>

</script>

</div>