<div class="container" data-turbolinks="false"><!-- ←ターボリンクを無効にしている -->

  <div class="row">
  <%= render "layouts/main_button" %>

  </div>

  <div class="row">
    <div class="col-xs-offset-1 col-xs-4">
      <div class="information">
        <div class="hello-user clearfix">
          <div class="user-image">
            <%= attachment_image_tag(@user, :image, :fill, 70, 70, fallback: "no_image.jpg") %>
          </div>
          <p class="hello-text">こんにちは、<%= current_user.name %>さん！<br>
                              今日の肌の調子はいかがですか？
          </p>
        </div>
        <div class="information-contents">
          <p>< 登録情報 ></p>
          <p>年齢：<%= current_user.age %>歳</p>
          <p>肌質：<%= current_user.skin_type %></p>
        </div>
        <div>
          <%= link_to "登録情報変更", edit_user_user_path(current_user), class: "btn btn-success" %>
        </div>

        </div>
      </div>

    <div class="col-xs-7">
        <canvas id="circleChart" ></canvas>
      </div>
    </div>

  <div class="row">
    <div class="text-right">
      <%= form_with url:user_notes_path, method: :get, local: true, class:"form-horizontal" do |f| %>
        <%= f.date_select(:date, { use_month_numbers: true, :discard_day => true, :default => @selected, date_separator: ' / '}) %>
        <%= f.submit "選択した月を表示する", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="chart" style="width: 100%; height: 50%;">
      <canvas id="myChart"></canvas>
    </div>
  </div>

  <div class="row">
    <div class="chart" style="width: 100%; height: 50%;">
      <canvas id="barChart"></canvas>
    </div>
  </div>

  <div class="square"></div>

</div>

<%= render "chart", doughnut: @grouping_conditions_count, line: @condition_list, bar:@todays_items_list, barlabel:@my_item_lists_label %>

</div>
