<div class="container">
	<%= render "layouts/main_button" %>
	<div style="width:700px; height:400px;">
		<canvas id="circleChart" ></canvas>
	</div>
	<canvas id="myChart"></canvas>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.bundle.min.js"></script>
</div>

<script>
var ctx = document.getElementById('myChart').getContext('2d');
var chart = new Chart(ctx, {
    // The type of chart we want to create
    type: 'line',

    // The data for our dataset
    data: {
        datasets: [{
            label: 'My First dataset',
            backgroundColor: 'rgb(255, 99, 132)',
            borderColor: 'rgb(255, 99, 132)',
            fill: false,
            data: [
            	<% (@beginning_of_month..@end_of_month).each do |date| %>
		            {
		                x: `<%= date %>`,
		                y: `<%= @notes.find_by(date: date)&.read_attribute_before_type_cast(:condition) %>`
		            },
	            <% end %>
            ]
        }]
    },

    // Configuration options go here
    options: {
        scales: {
            xAxes: [{
                type: 'time',
                time: {
                    unit: 'day'
                }
            }],
            yAxes: [{
            ticks: {
                min: 0,
                max: 3
            },
            scaleLabel: {
                display: true,
                labelString: '肌の調子'
            }
        }]
        }
    }
});

var ctx = document.getElementById('circleChart').getContext('2d');
var data = {
	labels: ['良い', '普通', '少し悪い', '悪い'],
    datasets: [{
    	backgroundColor: ["#1DA7BE", "#38C5D1", "#FF9FAD", "#FF7B8F"],
        data: [
        		<%= @good_condition_count %>,
        		<%= @average_condition_count %>,
        		<%= @fair_condition_count %>,
        		<%= @poor_condition_count %>
        ]

    }],

    // These labels appear in the legend and in the tooltips when hovering different arcs




};

var myPieChart = new Chart(ctx, {
    type: 'doughnut',
    data: data,
    options: {
    	        title: {
            display: true,
            text: 'Title',
            position: 'top'
        }
    }
});
</script>