<div class="container">
	<%= render "layouts/main_button" %>

	<h3>肌ノート作成</h3>
	<%= form_with :model => @note, url:user_notes_path, method: :post, local: true, class:"form-horizontal" do |f| %>
		<div>
			<%= f.label "日付" %>
			<%= f.date_select :date, use_month_numbers: true, date_separator: '/' %>
		</div>
		<div>
			<%= f.label "肌コンディション" %>
			<%= f.select :condition, Note.conditions.keys, autofocus: true, autocomplete: "condition" %>
		</div>
		<h3>使用したスキンケア</h3>
  		<div class="field">
    		  <% @my_items.each do |my_item| %>
    			  <%= check_box_tag 'todays_items[my_item_id][]', my_item.id %><%= my_item.item_name %>
			  <% end %>
			<%= f.submit "登録する" %>
		</div>
	<% end %>
</div>