<div class="container">
	<div class="row">
		<%= render "layouts/main_button" %>
		<%= render "layouts/error_messages", model: @note %>

	</div>

	<h3>肌ノート作成</h3>
	<%= form_with :model => @note, url:user_notes_path, method: :post, local: true, class:"form-horizontal" do |f| %>

		<div>
			<h4>■日付</h4>
			<%= f.date_field :date %>
		</div>

		<div>
			<h4>■肌コンディション</h4>
			<%= f.select :condition, Note.conditions.keys, autofocus: true, autocomplete: "condition" %>
		</div>

		<div>
			<h4>■使用したスキンケア</h4>
  		<div class="field">
  			<table class="table" style="width: 50%;">
  				<tbody>
	    		  <% @my_items.each do |my_item| %>
		    		  <tr>
		    		  	<td>
		    			  	<%= check_box_tag 'todays_items[my_item_id][]', my_item.id %>   <%= my_item.item_name %>
		    				</td>
		    			</tr>
			  		<% end %>
			  	</tbody>
			  </table>
			  <div>
					<%= f.submit "登録する", class: "col-xs-3 btn btn-primary" %>
				</div>
			</div>
		</div>

	<% end %>
</div>
