<div class="container">
	<h4>アイテム一覧</h4>
	<%= link_to "アイテム新規作成", new_admin_item_path %>
	<table class="table">
		<thead>
			<tr>
				<th></th>
				<th>商品名</th>
				<th>商品ジャンル</th>
				<th>メーカー</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
		<% @items.each do |item| %>
			<tr>
				<td>
					<%= link_to admin_item_path(item) do %>
						<%= attachment_image_tag(item, :image, :fill, 50, 50, fallback: "no_image.jpg") %>
					<% end %>
				</td>
				<td><%= item.item_name %></td>
				<td><%= item.item_genre %></td>
				<td><%= item.maker %></td>
				<td><%= link_to "編集", edit_admin_item_path(item) %> |
					<%= link_to "削除", admin_item_path(item), method: :delete %>
				</td>
			</tr>
		<% end %>
		</tbody>
	</table>
</div>
