<div class="container" data-turbolinks="false">
	<div class="row">
		<%= render "layouts/main_button" %>
		  <% if flash[:error].present? %>
			  <div class="alert alert-danger">
          <h4><%= pluralize(flash[:error].count, "error") %> prohibited this product from being saved:</h4>
			    <ul class="errors">
			      <% flash[:error].each do |e| %>
			        <li><%= e %></li>
			      <% end %>
			    </ul>
			  </div>
		  <% end %>
			</div>

	<div class="row">
		<div class="col-xs-4">
			<div class="row">

				<div class="show-item-image">
					<%= attachment_image_tag(@item, :image, :fill, 150, 150, fallback: "no_image.jpg") %>
				</div>

				<div class="show-item-name">
					<%= @item.item_name %>
				</div>

				<div class="show-item-genre">
					<%= @item.item_genre %>
				</div>

				<div class="show-item-maker">
					<%= @item.maker %>
				</div>

				<div class="show-star"id="averagestar"
					data-star-on="<%= asset_path('star-on.png') %>"
					data-star-off="<%= asset_path('star-off.png') %>"
					data-star-half="<%= asset_path('star-half.png') %>"
					data-score="<%= @average_score %>.to_f.round(1)" >
				</div>

				<div class="show-average-score">
					<%= @average_score.to_f.round(1) %>
				</div>
			</div>

			<div class="row">
				<h4>口コミ投稿</h4>
				<%= form_with model: @review, url:user_item_reviews_path(@item.id), method: :post, local: true, class:"form-horizontal" do |f| %>
					<div id="star"
					data-star-on="<%= asset_path('star-on.png') %>"
					data-star-off="<%= asset_path('star-off.png') %>" >
					<!-- ↑ consoleに画像のURLを出力させる(検証ツールから見られる) -->
					</div>

					<%= f.hidden_field :user_id, value: current_user.id %>

					<div>
						<%= f.text_area :review_text, class: "col-xs-12" %>
					</div>

					<div>
						<%= f.submit "投稿する", class: "col-xs-12 btn btn-primary" %>
					</div>

				<% end %>
			</div>
		</div>

		<div class="col-xs-8">
			<h4>この商品の口コミ</h4>
			<table class="table" style="table-layout:fixed;width:100%;">
    <colgroup>
        <col style="width:50%;">
        <col style="width:15%;">
        <col style="width:25%;">
        <col style="width:10%;">
    </colgroup>
	    <thead>
				<tr>
					<th></th>
					<th></th>
					<th></th>
					<th></th>
				</tr>
			</thead>
				<tbody>
					<% @reviews.each do |review| %>
						<tr>
							<td style="word-wrap:break-word;"><%= review.review_text %></td>
							<td>(<%= review.user.age %>歳/<%= review.user.skin_type %>)</td>
							<td>
								<div id="star<%= review.id %>"
									data-star-on="<%= asset_path('star-on.png') %>"
									data-star-off="<%= asset_path('star-off.png') %>"
									data-score="<%= review.score %>" >

										<script>//口コミ一覧の星/////////////////////////////////////////////////////////////////////////////////

											var star = document.getElementById(`star<%= review.id %>`);
											var starOn = star.dataset.starOn
											var starOff = star.dataset.starOff
											$(star).raty({
												starOn: starOn,
												starOff: starOff,
												score: <%= review.score %>,
												readOnly: true, // 編集できない星
												size: 10,
											});

										</script>
										<%= review.score %>
								</div>
							</td>
							<td>
								<% if review.user.id == current_user.id %>
									<%= link_to "削除", user_item_review_path(@item, review), method: :delete, item_id: review.item.id, class: "btn btn-danger btn-sm" %>
								<% end %>
							</td>
						</tr>
					<% end %>
				</tbody>
			</table>
			<%= paginate @reviews %>
		</div>
	</div>
</div>
<script>

//商品詳細の星/////////////////////////////////////////////////////////////////////////////////
	var star = document.getElementById('averagestar')
	var starOn = star.dataset.starOn
	var starOff = star.dataset.starOff
	var starHalf = star.dataset.starHalf

	$(star).raty({
		starOn: starOn,
		starOff: starOff,
		starHalf: starHalf,
		half: true,
		readOnly: true // 編集できない星
	});

//口コミ投稿の星/////////////////////////////////////////////////////////////////////////////////

	var star = document.getElementById('star')
	var starOn = star.dataset.starOn
	var starOff = star.dataset.starOff

	$(star).raty({
		starOn: starOn,
		starOff: starOff,
	});
	// ↑ raty();だけだと画像のURLが正しく受け取れないので｛｝をつける

</script>