<div class="main-visual">
  <div class="container">
    <div class="top-headline">あなただけの肌の記録ノート</div>
    <div class="top-buttons">
      <div class="top-button">
    	 <%= link_to "新規会員登録", new_user_registration_path, class:"btn btn-info" %>
      </div>
      <div class="top-button">
    	<%= link_to "ログイン", new_user_session_path, class:"btn btn-info" %>
      </div>
      <div class="top-button">
      <%= link_to 'ゲストログイン', user_homes_guest_sign_in_path, method: :post, class:"btn btn-info" %>
      </div>
    </div>
  </div>
</div>
<div class="border"></div>

<div class="main-contents">
  <div class="contents-title">skin noteとは</div>
  <div class="border2"></div>
  <div class="contents-text">自分史上一番の美肌を目指す あなただけの肌の記録アプリです</div>

  <div class="contents-title">skin noteで できること</div>
  <div class="border2"></div>
    <div class="row">
      <div class="section">
        <div class="section-image"><%= image_tag("content-image1.png")%></div>
          <div class="text-box">
            <div class="section-title">１：肌の状態をグラフで確認する</div>
            <div class="section-text">毎日肌の状態と使ったスキンケア商品を記録すると、<br>
                                      skin notoがあなたの肌の状態を３種のグラフで見える化します</div>
            <div class="section-subtext">「ドーナツグラフ」　肌の調子が良かった日・悪かった日の割合を確認できます<br>
                                        「折れ線グラフ」　　肌の調子の推移を確認できます<br>
                                        「横棒グラフ」　　スキンケア商品を使った期間を確認できます</div>
          </div>
      </div>
    </div>
    <div class="row">
      <div class="section">
        <div class="text-box">
          <div class="section-title">２：商品の口コミを見る・投稿する</div>
          <div class="section-text">スキンケア商品の口コミランキングを掲載しています<br>
                                    口コミランキングを商品ジャンルごとに検索することも可能です<br>
                                    気になる商品の口コミ内容を閲覧したり、<br>
                                    使用した商品の口コミを投稿できます</div>
        </div>
        <div class="section-image"><%= image_tag("content-image2.png")%></div>
      </div>
    </div>

    <div class="row">
      <div class="section">
        <div class="section-image"><%= image_tag("content-image3.png")%></div>
        <div class="text-box">
          <div class="section-title">３：肌の悩みをつぶやく</div>
          <div class="section-text">肌の悩みをつぶやくと、他のユーザーからコメントで<br>
                                    アドバイスをもらえたり、共感を集めることができます<br>
                                    また他のユーザーへのアドバイスを書き込むことができます</div>
        </div>
      </div>
    </div>
</div>
<div class="lets">
  <div class="lets-text"><%= link_to "skin note をはじめる", new_user_registration_path %></div>
</div>

