<div class="container">
	<div class="row">
		<%= render "layouts/main_button" %>
		<%= render "layouts/error_messages", model: @tweet %>

	</div>

	<div class="row">

		<div class="col-xs-4">
			<h4>あなたのつぶやきデータ</h4>

				<div class="count-set col-xs-4">
					<p class="count"><%= @your_tweets.count %></p>
					<p class="count-label">つぶやいた数</p>
				</div>

				<div class="count-set col-xs-4">
					<p class="count"><%= @empathies_count %></p>
					<p class="count-label">得た共感数</p>
				</div>

				<div class="count-set col-xs-4">
					<p class="count"><%= @comments_count %></p>
					<p class="count-label">得たコメント数</p>
				</div>

				<%= link_to "あなたのつぶやき一覧", user_tweets_current_index_path, class: "col-xs-12 btn btn-primary" %>

				<h4>つぶやき投稿</h4>
				<%= form_with :model => @tweet, url:user_tweets_path, method: :post, local: true, class:"form-horizontal" do |f| %>

					<div>
						<p>つぶやき内容</p>
						<%= f.text_area :tweet_text, class: "col-xs-12" %>
					</div>

					<div>
						<%= f.submit "投稿する", class: "col-xs-12 btn btn-primary" %>
					</div>

				<% end %>
			</div>

		<div class="col-xs-8">
			<h4>みんなのつぶやき一覧</h4>
			<table class="table table-hover" style="table-layout:fixed;width:100%;">

			    <colgroup>
			        <col style="width:60%;">
			        <col style="width:15%;">
			        <col style="width:8%;">
			        <col style="width:8%;">
			        <col style="width:9%;">
			    </colgroup>

				<thead>
					<tr>
						<th></th>
						<th></th>
						<th></th>
						<th></th>
						<th></th>
					</tr>
				</thead>

				<tbody>
					<% @tweets.each do |tweet| %>
						<tr>

							<td style="word-wrap:break-word;"><%= link_to user_tweet_path(tweet) do %>
									<%= tweet.tweet_text %>
								<% end %>
							</td>

							<td>
								(<%= tweet.user.age %>歳/<%= tweet.user.skin_type %>)
							</td>

							<td>
								<% if tweet.empathized_by?(current_user) %>
									<%= link_to user_tweet_empathies_path(tweet), method: :delete do %>
										<span class="glyphicon glyphicon-hand-left" aria-hidden="true" style="color:#FF7B8F;"></span>
									<% end %>
									<%= tweet.empathies.size %>
								<% else %>
									<%= link_to user_tweet_empathies_path(tweet), method: :post do %>
										<span class="glyphicon glyphicon-hand-left" aria-hidden="true" style="color:#DBDBDB;"></span>
									<% end %>
									<%= tweet.empathies.size %>
								<% end %>
							</td>

							<td>
								<span class="glyphicon glyphicon-comment" aria-hidden="true"> <%= tweet.comments.size %></span>
							</td>

							<td>
								<% if tweet.user.id == current_user.id %>
									<%= link_to "削除",user_tweet_path(tweet), method: :delete, class: "btn btn-danger btn-sm" %>
								<% end %>
							</td>

						</tr>
					<% end %>
				</tbody>
			</table>
			<%= paginate @tweets %>
		</div>
	</div>
</div>



