<!DOCTYPE html>
<html>
  <head>
    <title>SkinNote</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.bundle.min.js"></script>
    <!-- ↑早く読み込んでほしいので、ここに書いている -->
    <script src="jquery.fn.gantt.js"></script>

  </head>
  <body>
    <header>
      <div class="header-container">
        <div class="headline">skin note</div>
      </div>
        <nav class="nav">
          <div class="header-container">
            <ul class="nav-list">
              <% if user_signed_in? %>
                <li class="nav-list-item"><%= link_to "トップページ", root_path %></li>
                <li class="nav-list-item"><%= link_to "マイページ", user_notes_path(year: Time.now.year, month: Time.now.month) %></li>
                <li class="nav-list-item"><%= link_to "アイテム一覧", user_items_path %></li>
                <li class="nav-list-item"><%= link_to "つぶやき一覧", user_tweets_path %></li>
                <li class="nav-list-item"><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>

              <% elsif admin_signed_in? %>
                <li class="nav-list-item"><%= link_to "商品一覧", admin_items_path, class: "link" %></li>
                <li class="nav-list-item"><%= link_to '管理者ログアウト', destroy_admin_session_path, method: :delete, class: "link" %></li>

              <% else %>
                <li class="nav-list-item"><%= link_to "トップページ", root_path %></li>
                <li class="nav-list-item"><%= link_to "ログイン", new_user_session_path %></li>
                <li class="nav-list-item"><%= link_to 'ゲストログイン（閲覧用）', user_homes_guest_sign_in_path, method: :post %></li>
              <% end %>
            </ul>
          </div>
        </nav>
      </div>
    </header>
    <%= yield %>
  </body>
  <footer class="footer">
    <p class="copy">Copyright © skin note Inc. All Rights Reserved.</p>
  </footer>
</html>
